.student-card {
    border: 1px solid;
    width: calc(33.33% - 30px);
    display: inline-block;
    margin: 5px;
    padding: 5px;
    font-size: .8em;
}

.student-card img {
    width: 100%;
}

.starred-card {
    background-color: rgb(108, 255, 50);
}

.ordinary-card {
    background-color: rgb(200, 200, 200);
}